{% extends 'home.html' %}

{% block content %}
    <!-- Content specific to the app detail view -->
    <div class="app-detail">
        <li>Name: {{app.name}}</li>
        <li>Download Link: {{app.link}}</li>
        <li>Category: {{app.category}}</li>
        <li>Sub-Category: {{app.sub_category}}</li>
        <li>Points: {{app.points}}</li>

        <div id="drop-area">
            <form method="post" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload Screenshot</button>
            </form>
            <div id="preview"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let dropArea = document.getElementById('drop-area');
        let form = document.getElementById('upload-form');
        let fileInput = document.querySelector('.upload');

        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)
        });

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        ;['dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, () => dropArea.classList.add('highlight'), false)
        });

        ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, () => dropArea.classList.remove('highlight'), false)
        });

        dropArea.addEventListener('drop', handleDrop, false);

        function handleDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;

            fileInput.files = files;
            handleFiles(files);
        }

        function handleFiles(files) {
            ([...files]).forEach(previewFile);
        }

        function previewFile(file) {
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function() {
                let img = document.createElement('img');
                img.src = reader.result;
                document.getElementById('preview').appendChild(img);
            }
        }

        form.addEventListener('submit', function(e) {
            // Here you can add AJAX request to submit files if you don't want a full page refresh
        });
    </script>
{% endblock %}
