<!-- profile.html -->
{% extends "home.html" %}

{% block content %}
<div class="container">
    <h2>Profile</h2>
    <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p>Username: {{ profile.user.username }}</p>
    <!-- Include other profile fields here -->
</div>
{% endblock %}
