<!-- signup.html -->
{% extends "base_generic.html" %}  <!-- This extends a base template which includes your navbar and footer etc. -->

{% block content %}
<div class="container">
    <h2>Sign Up</h2>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>
{% endblock %}
