{% extends 'admin/home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Hello Admin</h2>
            <div class="d-flex justify-content-center">
                <form method="post" class="w-50">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-2">Add Points</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
