<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
        }
        .header {
            background: #333;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }
        .nav {
            background: #555;
            padding: 10px 20px;
        }
        .nav a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
        }
        .nav a:hover {
            text-decoration: underline;
        }
        .content {
            padding: 20px;
        }
        .footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="nav">
        <a href="{% url 'admin_home' %}">Manage Apps</a> | 
        <a href="% url 'admin_home' %">User Accounts</a> | 
        <a href="{% url 'logout_view' %}">Logout</a>
    </div>
    <div class="content">
        <!-- Content goes here -->
        <p>Welcome to the Admin Dashboard. Here you can manage apps, user accounts, and view system stats.</p>
    </div>
    <div class="footer">
        Admin Dashboard © 2023
    </div>
</body>
</html>
