{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Add links to CSS files here -->
    <link rel="stylesheet" href="{% static 'admin_interface/styles.css' %}">
</head>
<body>
    <div class="container">
    <div class="sidebar">
        <!-- Navigation links -->
        <a href="{% url 'admin_home' %}" class="nav-link active">Home</a>
        <a href="{% url 'add_app' %}" class="nav-link">Add Apps</a>
    </div>
    
    <div class="main-content">
        {% block content %}
        {% for app in apps %}
            <div class="app-entry">
                <div class="app-info">
                    <h2>{{ app.name }}</h2>
                    <a href="{% url 'app_detail' app.id %}">View Details</a>
                </div>
                <div class="points">Points: {{ app.points }}</div>
            </div>
        {% endfor %}
        {% endblock %}

    </div>


    <!-- Add scripts here -->
    </div>
</body>
</html>