/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    background-color: #D3D3D3;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    flex: 0 0 250px;
    height: 100vh;
    Padding: 20px 10px;
    width: 10%;
}

/* Navigation link styles */
.nav-link {
    display: flex;
    border: 1px solid;
    border-color: #3498db;
    border-radius: 1px;
    justify-content: center;
    gap: 10px; /* Space between icon and text */
    padding: 10px;
    margin-bottom: 10px; /* Space between buttons */
    background-color: #fff; /* Light background for the button */
    text-decoration: none;
    color: #3498db;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.nav-link .icon {
    display: block;
    width: 20px; /* Fixed width for the icon */
    text-align: center;
}

/* Active link styles */
.nav-link.active {
    background-color: #3498db; /* Active button background color */
    color: #fff; /* Active button text color */
}

/* Hover effect */
.nav-link:hover {
    background-color: #BDC3C7; /* Lighter background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

/* Focus styles for accessibility */
.nav-link:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Custom focus ring */
}


.main-content{
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
}


/* Styles for the app-entry container */
.app-entry {
    display: grid; /* Use CSS Grid to layout the internal elements */
    grid-template-columns: auto 1fr auto; /* Three columns: icon, details, and points */
    grid-gap: 10px; /* Space between grid items */
    align-items: center; /* Align items vertically in the center */
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #D3D3D3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
}

/* Styles for the app-info section */
.app-info {
    display: flex; /* Use Flexbox for layout inside the app-info */
    flex-direction: column; /* Stack the items vertically */
}

/* Styles for the app name */
.app-info h2 {
    font-size: 18px; /* Adjust size as needed */
    margin-bottom: 5px; /* Space between the name and the link */
}

/* Styles for the 'View Details' link */
.app-info a {
    font-size: 14px; /* Adjust size as needed */
    color: #3498db; /* Adjust color as needed */
    text-decoration: none; /* Remove underline from the link */
    margin-bottom: 10px; /* Space between the link and points */
}

/* Styles for the points display */
.points {
    background-color: whitesmoke;
    text-align: center;
    margin-left: 300px;
    border: 1px solid black;
    font-weight: bold; /* Make points bold */
    color: #2ecc71; /* Adjust color as needed */
}


#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

#drop-area.highlight {
    border-color: blue;
    background: rgba(0, 0, 255, 0.1);
}

#preview img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    object-fit: cover;
}
